In [1]:
import pandas as pd
import numpy as np

In [38]:
df1 = pd.read_csv('countryLockdowndates.csv')
data = pd.DataFrame(df1)
data

,Country,Province,Date,Type,Reference
0,Afghanistan,NaN,24/03/2020,Full,https://www.thestatesman.com/world/afghan-govt...
1,Albania,NaN,08/03/2020,Full,https://en.wikipedia.org/wiki/2020_coronavirus...
2,Algeria,NaN,24/03/2020,Full,https://www.garda.com/crisis24/news-alerts/325...
3,Andorra,NaN,16/03/2020,Full,https://en.wikipedia.org/wiki/2020_coronavirus...
4,Angola,NaN,24/03/2020,Full,https://en.wikipedia.org/wiki/2020_coronavirus...
...,...,...,...,...,...
302,Venezuela,NaN,16/03/2020,Full,https://en.wikipedia.org/wiki/2020_coronavirus...
303,Vietnam,NaN,19/03/2020,Full,https://en.wikipedia.org/wiki/2020_coronavirus...
304,West Bank and Gaza,NaN,05/03/2020,Full,NaN
305,Zambia,NaN,NaN,None,NaN
306,Zimbabwe,NaN,27/03/2020,Full,https://en.wikipedia.org/wiki/2020_coronavirus...

In [39]:
df2 = pd.read_csv('waqi-covid19-airqualitydata-2020.csv')
data1 = pd.DataFrame(df2)
data1

,Date,Country,City,Specie,count,min,max,median,variance
0,2021-02-08,GH,Accra,pm25,24,65.0,147.0,95.0,4264.35
1,2021-04-02,GH,Accra,pm25,24,144.0,163.0,154.0,157.61
2,2021-05-18,GH,Accra,pm25,24,30.0,112.0,53.0,3044.93
3,2021-09-03,GH,Accra,pm25,24,42.0,82.0,59.0,635.36
4,2021-02-20,GH,Accra,pm25,17,89.0,158.0,117.0,3607.57
...,...,...,...,...,...,...,...,...,...
1731749,2021-03-07,ZA,Worcester,wd,24,52.6,342.2,123.0,47342.30
1731750,2021-09-04,ZA,Worcester,wd,24,0.8,356.3,305.4,72436.00
1731751,2021-02-02,ZA,Worcester,wd,24,64.9,273.0,125.6,48988.10
1731752,2021-06-09,ZA,Worcester,wd,22,3.9,338.2,141.4,122733.00
1731753,2021-08-22,ZA,Worcester,wd,24,9.4,355.4,142.8,142697.00

In [47]:
data['Date'] = pd.to_datetime(data['Date'])
data1['Date'] = pd.to_datetime(data1['Date'])
new_df2

0         2021-02-08
1         2021-04-02
2         2021-05-18
3         2021-09-03
4         2021-02-20
             ...
1731749   2021-03-07
1731750   2021-09-04
1731751   2021-02-02
1731752   2021-06-09
1731753   2021-08-22
Name: Date, Length: 1731754, dtype: datetime64[ns]

In [48]:
data

,Country,Province,Date,Type,Reference
0,Afghanistan,NaN,2020-03-24,Full,https://www.thestatesman.com/world/afghan-govt...
1,Albania,NaN,2020-08-03,Full,https://en.wikipedia.org/wiki/2020_coronavirus...
2,Algeria,NaN,2020-03-24,Full,https://www.garda.com/crisis24/news-alerts/325...
3,Andorra,NaN,2020-03-16,Full,https://en.wikipedia.org/wiki/2020_coronavirus...
4,Angola,NaN,2020-03-24,Full,https://en.wikipedia.org/wiki/2020_coronavirus...
...,...,...,...,...,...
302,Venezuela,NaN,2020-03-16,Full,https://en.wikipedia.org/wiki/2020_coronavirus...
303,Vietnam,NaN,2020-03-19,Full,https://en.wikipedia.org/wiki/2020_coronavirus...
304,West Bank and Gaza,NaN,2020-05-03,Full,NaN
305,Zambia,NaN,NaT,None,NaN
306,Zimbabwe,NaN,2020-03-27,Full,https://en.wikipedia.org/wiki/2020_coronavirus...

In [54]:
df3 = pd.merge(data,data1)
df3

Empty DataFrame
Columns: [Country, Province, Date, Type, Reference, City, Specie, count, min, max, median, variance]
Index: []

In [51]:

# new_df1.join(new_df2,lsuffix="_left", rsuffix="_right")
data.join(data1, lsuffix="_left", rsuffix="_right")

,Country_left,Province,Date_left,Type,Reference,Date_right,Country_right,City,Specie,count,min,max,median,variance
0,Afghanistan,NaN,2020-03-24,Full,https://www.thestatesman.com/world/afghan-govt...,2021-02-08,GH,Accra,pm25,24,65.0,147.0,95.0,4264.35
1,Albania,NaN,2020-08-03,Full,https://en.wikipedia.org/wiki/2020_coronavirus...,2021-04-02,GH,Accra,pm25,24,144.0,163.0,154.0,157.61
2,Algeria,NaN,2020-03-24,Full,https://www.garda.com/crisis24/news-alerts/325...,2021-05-18,GH,Accra,pm25,24,30.0,112.0,53.0,3044.93
3,Andorra,NaN,2020-03-16,Full,https://en.wikipedia.org/wiki/2020_coronavirus...,2021-09-03,GH,Accra,pm25,24,42.0,82.0,59.0,635.36
4,Angola,NaN,2020-03-24,Full,https://en.wikipedia.org/wiki/2020_coronavirus...,2021-02-20,GH,Accra,pm25,17,89.0,158.0,117.0,3607.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302,Venezuela,NaN,2020-03-16,Full,https://en.wikipedia.org/wiki/2020_coronavirus...,2021-02-14,GH,Accra,pressure,24,1006.0,1010.0,1008.0,13.03
303,Vietnam,NaN,2020-03-19,Full,https://en.wikipedia.org/wiki/2020_coronavirus...,2021-04-29,GH,Accra,pressure,23,1007.0,1012.0,1009.0,16.76
304,West Bank and Gaza,NaN,2020-05-03,Full,NaN,2021-05-26,GH,Accra,pressure,16,1009.0,1013.0,1012.0,25.33
305,Zambia,NaN,NaT,None,NaN,2021-07-22,GH,Accra,pressure,16,1011.0,1018.0,1016.0,26.96
306,Zimbabwe,NaN,2020-03-27,Full,https://en.wikipedia.org/wiki/2020_coronavirus...,2021-09-12,GH,Accra,pressure,22,1010.0,1015.0,1013.0,17.60